<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @receiver_name %></h1>
    <p>
      Please find attached the monthly Nasdaq scraper file.<br>
      Please insert the following formula and drag down in Sheet 1 Column C <br>
      <strong> =HYPERLINK("#"&B1) </strong>
    </p>
    <p>Thanks.</p>
  </body>
</html>