@import 'bootstrap';

body { padding-top: 70px;}

a.link {
    background-color: #0C49BF;
    color: #F1ECDC;
}


.container {
	border: 2px solid;
	padding: 25px;
}

.flash {
	color: #007F3B;
	font-weight: bold;
}