<!DOCTYPE html>
<html>
<head>
  <title>PdfReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
  <div class="navbar-brand custom" style="color:#F1ECDC">
    PrivCo Internal Tools
  </div>
</nav>


<%= yield %>

</body>
</html>
